<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean id="adminInterceptor" class="com.style.webapp.interceptor.UserRoleAuthorizationInterceptor">
        <property name="authorizedRoles" value="ROLE_ADMIN"/>
    </bean>
    
    <bean id="accessDeniedInterceptor" class="com.style.webapp.interceptor.AccessDeniedInterceptor" />

    <bean id="baseAction" class="com.style.webapp.action.BaseAction" scope="prototype">
    </bean>

    <bean id="signupAction" class="com.style.webapp.action.SignupAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="roleManager" ref="roleManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
        <property name="templateName" value="accountCreated.vm"/>
    </bean>

    <bean id="userAction" class="com.style.webapp.action.UserAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="roleManager" ref="roleManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
        <property name="templateName" value="accountCreated.vm"/>
    </bean>

    <bean id="passwordHintAction" class="com.style.webapp.action.PasswordHintAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
    </bean>

    <bean id="partnerAction" class="com.style.webapp.action.PartnerAction" scope="prototype"
          parent="baseAction"/>

	<bean id="branchAction" class="com.style.webapp.action.BranchAction" scope="prototype"
          parent="baseAction"/>
          
    <bean id="categoryAction" class="com.style.webapp.action.ProductCategoryAction" scope="prototype"
          parent="baseAction"/>
     
    <bean id="productAction" class="com.style.webapp.action.ProductAction" scope="prototype"
          parent="baseAction"/>
       
    <bean id="metaDataAction" class="com.style.webapp.action.MetaDataAction" scope="prototype"
          parent="baseAction"/>
          
    <bean id="reloadAction" class="com.style.webapp.action.ReloadAction" scope="prototype"
          parent="baseAction"/>

    <bean id="bookingAction" class="com.style.webapp.action.BookingAction" scope="prototype"
          parent="baseAction"/>

    <bean id="fileUploadAction" class="com.style.webapp.action.FileUploadAction" scope="prototype"
          parent="baseAction"/>
</beans>
