<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    	<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<!-- Echo all executed SQL in format to Stdout -->
		<property name="format_sql">false</property>
        <mapping class="com.style.model.User"/>
        <mapping class="com.style.model.Role"/>
        <mapping class="com.style.model.Partner"/>
        <mapping class="com.style.model.Branch"/>
        <mapping class="com.style.model.ProductCategory"/>
        <mapping class="com.style.model.Product"/>
        <mapping class="com.style.model.ProductPrice"/>
        <mapping class="com.style.model.Booking"/>
    </session-factory>
</hibernate-configuration>